#bd {
  /* background-color: red; */
}

#aircraft {
  text-align: center;
}

#scope {
  padding: 500px;
  background: black;
  margin-left: 150px;
  margin-right: 150px;
}

#map {
  height: 900px;
  width: 1000px;
  left: 325px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.dropDown {
	position: absolute;
	top: 50px;
	left: 0px;
	width: 200px;
	height: 60px;
	line-height: 60px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	font-size: 1em;
}

a.go {
	display: inline;
	margin: 0 8px;
	padding: 4px;
	color: #2eacd0;
	text-align: center;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
}
