#bd {
  /* background-color: red; */
}

#aircraft {
  text-align: center;
}

#scope {
  padding: 500px;
  background: black;
  margin-left: 150px;
  margin-right: 150px;
}

#map {
  height: 900px;
  width: 1000px;
  left: 325px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#wrap {
  display: block;
  margin: 0 auto;
  width: 200px;
}

.dropDown {
    position: fixed;
	top: 185px;
	left: 0px;
	width: 200px;
	height: 60px;
	line-height: 60px;
	background: rgba(255, 255, 255, 0.8);
	z-index: 1;
	font-size: 1em;
}

a.go {
	display: inline;
	margin: 0 8px;
	padding: 4px;
	color: #2eacd0;
	text-align: center;
	cursor: pointer;
	background: #fff;
	border: 1px solid #ccc;
}

h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: monospace;
  padding: 0.7em;
}

.keyboard {
    text-align: end;
    font-size: 14px;
    font-family: sans-serif;
    width: 1000px;
    right: 100px;
}

.keyboard__row {
    display: inline-block;
    height: 3em;
    margin: 0.2em;
}

.keyboard__row--h1 {
    height: 1.7em;
    line-height: 1.4em;
}

.keyboard__row--h3 {
    height: 3.3em;
}

.keyboard__row > * {
    position: relative;
    background: #333;
    text-align: center;
    color: #eee;
    float: left;
    border-radius: 0.3em;
    margin: 0.2em;
    padding: 0.2em;
    width: 3.3em;
    height: 100%;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-user-select: none;
    border: 1px solid #444;
    box-shadow: 0 0.2em 0 0.05em #222;
    border-bottom-color: #555;
}

.keyboard__row--h1 > div {
    width: 3.5em;
}

.keyboard__row > div[data-pressed],
.keyboard__row > div:active {
    background: #2a2a2a;
    color: #aaa;
    position: relative;
    top: 0.2em;
    box-shadow: 0 0 0 0.05em black;
}

.key--w3 {
    width: 4.6em;
}

.key--w4 {
    width: 6em;
}

.key--w5 {
    width: 6.5em;
}

.key--w6 {
    width: 8.3em;
}

.key--space {
    width: 18em;
}

.key--double > * {
    padding-top: 0.1em;
}

.key--letter {
    line-height: 2.8em;
}

.key--bottom-left > * {
    position: absolute;
    text-align: left;
    bottom: 0.4em;
    left: 0.4em;
}

.key--bottom-right > * {
    position: absolute;
    text-align: right;
    bottom: 0.4em;
    right: 0.4em;
}

.key--fn > * {
    font-size: 0.6em;
    line-height: 1em;
    padding-top: 1.2em;
    padding-right: 0.2em;
    text-align: right;
    float: right;
}

.key--word > * {
    font-size: 0.8em;
}

.key--arrow--tall > *,
.key--arrow > * {
    font-size: 0.5em;
    line-height: 3em;
}

.key--arrow {
    height: 1.8em;
    margin-top: 1.7em;
    line-height: 0.5em;
}

.key--arrow--tall > * {
    padding-top: 0.2em;
}

.keyboard > .keyboard__row {
    text-align: center;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}
